root {
    display: flex;
    flex-direction: column;
}

div.flex-container > div {
    margin: 0px;
}

.sectioncontent {
    color: white;
}

body {
    padding-top: 40px; /* Must match the navbar's height */
}

.ProfessionalSummary {
    display: flex;
    justify-content: flex-start;
    /* Aligns items along the cross axis (vertical by default) to the start (top) */
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top: -60px;
    left: 30px;
    text-align: left;
}

.Education {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top: -30px;
    left: 30px;
}


.WorkExperience {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top: -20px;
    left: 30px;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    margin-top: 0;
    margin-bottom: 0px;
}


ul {
    display: grid;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside
}

.SubList {
    margin-left: 40px;
    display: block;
    width: 100%;
    padding: 0;
    list-style-type: circle;
}

.SubList li {
    display: inline-block;
    width: 33%;
}

.SubList li::before {
    content: '\25CB'; /* unicode! */
    font-size: 0.5em;
    vertical-align: 16%;
    padding-right: 5px;
}



.SubList h4 {
    color: rgba(120, 255, 120, 0.87);
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

li {
    text-align: left; /* Ensures the text itself is left aligned, if parent has center/right alignment */
}