root {
    display: flex;
    flex-direction: column;
}

div.flex-container > div {
    margin: 0px;
}

body {
    padding-top: 40px; /* Must match the navbar's height */
}

.ProfessionalSummary {
    display: flex;
    justify-content: flex-start;
    /* Aligns items along the cross axis (vertical by default) to the start (top) */
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 30px;
    text-align: left;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    margin-top: 0;
}


ul {
    display: grid;

    margin-left: 0;
    padding-left: 0;
    list-style-position: inside
}

li {
    text-align: left; /* Ensures the text itself is left aligned, if parent has center/right alignment */
}